@keyframes flash {
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 1; }
}

body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #000;
}

main {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 100%;
height: 100%;
}

.inner {
width: 100%;
max-width: 70%;
padding: 2em;
border: 4px solid #fff;
border-radius: 4px;
}

p {
display: inline;
color: #fff;
font-family: 'DotGothic16', sans-serif;
font-size: 24px;
line-height: 2em;
}

span {
display: none;
min-width: 1em;
}

.cursor {
display: inline-block;
width: 3px;
height: 1em;
background-color: #fff;
animation: flash .8s infinite;
}

@media (max-width: 768px) {
  p {
      font-size: 18px;
  }
}

#join-button {
  opacity: 0; /* 初始透明度 */
  transition: opacity 1s ease-in-out; /* 轉場效果 */
  border: 4px solid #fff; /* 白色邊框 */
  background-color: #000; /* 黑色背景 */
  color: #fff; /* 白色文字 */
  padding: 10px 24px; /* 內邊距 */
  text-align: center; /* 文字置中 */
  text-decoration: none; /* 無裝飾 */
  display: inline-block; /* 行內塊級元素 */
  font-family: 'DotGothic16', sans-serif; /* 字體 */
  font-size: 24px; /* 字體大小 */
  margin: 20px 0; /* 外邊距 */
  cursor: pointer; /* 滑鼠樣式 */
}
